@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

*::before,
*::after,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 16px;
}

:root {
  --text1: 300 48px/1.2 "Chivo";
  --text1m: 300 32px/1.2 "Chivo";
  --text2: 300 18px/1.5 "Chivo";
  --text2m: 300 14px/1.5 "Chivo";
  --text3: 700 14px/2 "Chivo";
  --green: #54e6af;

  --blue-950: rgb(18, 23, 37);
  --blue-900: #2c344b;
  --blue-600: #5a668a;
  --blue-300: #c2cbe5;

  --white: #ffffff;
  --red: #fb3e3e;
}

body {
  background: url("../assets/mobile/image-host.jpg") center / cover no-repeat;
  /* background-size: 100% 100%; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Mobile First */

.main {
  background: rgba(18, 23, 37, 0.65);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  flex-direction: column;
  padding: 36px;
}

.logo {
  height: 56px;
}
.dots {
  display: none;
}
.main .content {
  margin-top: -40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 26px;
  min-height: auto;
  width: max(303px, 90%);
}
.content h1 {
  font: var(--text1m);
  color: var(--green);
  text-transform: uppercase;
}
h1 span {
  color: var(--white);
}

.content p {
  font: var(--text2m);
  color: var(--blue-300);
}

form {
  width: max(303px, 95%);
  margin: 10px 20px;
  height: 96px;
}
form .input {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 26px;
}

.input input {
  width: 100%;
  height: 44px;
  border-radius: 26px;
  padding: 5px 28px;
  background-color: var(--blue-900);
  border: none;
}
.input .btn {
  height: 44px;
  border-radius: 26px;
  background-color: var(--green);
  color: var(--blue-950);
  font: var(--text3);
}

.icons {
  width: max(303px, 90%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  height: 17px;
}

.icons img {
  max-height: 17px;
  max-width: 80px;
}
