@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

*::before,
*::after,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 16px;
}

:root {
  --text1: 300 48px/1.2 "Chivo";
  --text1m: 300 32px/1.2 "Chivo";
  --text2: 300 18px/1.5 "Chivo";
  --text2m: 300 14px/1.5 "Chivo";
  --text3: 700 14px/2 "Chivo";
  --text4: 700 12px "Chivo";
  --green: #54e6af;
  --greenhover: #8dfed3;

  --blue-950: rgb(18, 23, 37);
  --blue-900: #2c344b;
  --blue-600: #5a668a;
  --blue-300: #c2cbe5;

  --white: #ffffff;
  --red: #fb3e3e;
  font-size: 16px;
}

body {
  background: url("../assets/mobile/image-host.jpg") center / cover no-repeat;
  /* background-size: 100% 100%; */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Mobile First */

.main {
  background: rgba(18, 23, 37, 0.8);
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  flex-direction: column;
  padding: 36px;
}

.logo {
  height: 56px;
}
.dots {
  display: none;
}
.hero {
  display: none;
}
.main .content {
  margin-top: -40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 26px;
  min-height: auto;
  width: clamp(280px, 90vw, 400px);
  overflow: hidden;
}
.content h1 {
  font: var(--text1m);
  color: var(--green);
  text-transform: uppercase;
}
h1 span {
  color: var(--white);
}

.content p {
  font: var(--text2m);
  color: var(--blue-300);
}

#toast {
  margin-top: -28px;
  font: var(--text4);
  color: red;
}
form {
  width: 95%;
  margin: 10px 20px;
  height: 96px;
}
form .input {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 26px;
}

.input input {
  width: 100%;
  height: 44px;
  border-radius: 26px;
  padding: 5px 28px;
  background-color: var(--blue-900);
  border: none;
  color: var(--white);
}
.input .btn {
  height: 44px;
  border-radius: 26px;
  background-color: var(--green);
  color: var(--blue-950);
  font: var(--text3);
}

.input .btn:hover {
  background-color: var(--greenhover);
}
.input.active input {
  outline: none;
  border: 2px solid red;
}
.icons {
  width: clamp(280px, 90vw, 400px);

  display: flex;
  align-items: center;
  justify-content: center;
  height: 17px;
  gap: clamp(3px, 4vw, 20px);
}

.icons img {
  max-height: 17px;
  max-width: 65px;
}

@media (min-width: 768px) {
  body {
    background-color: var(--blue-950);
    background-image: none;
  }
  .main {
    position: relative;
    background-color: var(--blue-950);
    padding: 0;
  }

  .logo {
    position: absolute;
    left: 44px;
    top: 156px;
    z-index: 4;
  }
  .dots {
    display: block;
    position: absolute;
    right: 0;
    top: 815px;
    z-index: 4;
    right: -122px;
  }
  .hero {
    display: block;
    position: absolute;
    width: 491px;
    height: 868px;
    top: 0;
    right: -31px;
    z-index: 2;
  }
  .hero .img-src {
    content: url("../assets/tablet/image-host.jpg");
    width: 100%;
    height: 100%;
  }
  .main .content {
    margin-top: 0;
    position: absolute;
    background-color: var(--blue-950);
    z-index: 3;
    top: 317px;
    width: 592px;
    height: 552px;
    align-items: flex-start;
    text-align: left;
    padding-right: 140px;
    left: 44px;
  }
  .content h1 {
    margin-top: 60px;
    font: var(--text1);
  }
  .content p {
    font: var(--text2);
  }

  form {
    margin-left: 0;
  }
  form .input {
    flex-direction: row;
    background-color: var(--blue-900);
    align-items: center;
    width: 448px;
    height: 52px;
    overflow: hidden;
    padding: 2px;
  }
  .input input {
    width: 50%;
    border: none;
    border-radius: 0;
  }
  .input.active input {
    border: none;
  }

  .input.active {
    border: 2px solid red;
  }
  .input input:focus {
    outline: none;
  }
  .input .btn {
    width: 50%;
  }

  #toast {
    margin: -68px auto 0 20px;
    font: var(--text4);
    color: red;
  }
  .icons {
    position: absolute;
    top: 523px;
    transform: translateX(79px);
    gap: 41px;
  }
  .icons img {
    max-height: 30px;
    max-width: 150px;
  }
}

@media (min-width: 1200px) {
  body {
    background-color: var(--blue-950);
  }

  .main {
    max-width: 1500px;
  }
  .hero {
    position: absolute;
    right: -55px;
    top: 153px;
    width: 960px;
    height: 654px;
  }

  .hero .img-src {
    content: url("../assets/desktop/image-host.jpg");
    height: 100%;
  }
  .logo {
    left: 160px;
  }
  .main .content {
    position: absolute;
    left: 160px;
    top: 314px;
    width: 736px;
    height: 494px;
    padding-right: 71px;
  }

  .main .content p {
    padding-right: 217px;
  }
  .icons {
    top: 471px;
    z-index: 5;
  }
  .dots {
    right: 0;
    top: 757px;
  }
}
