@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

*::before,
*::after,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 16px;
}

:root {
  --text1: 300 48px/1.2 "Chivo";
  --text2: 300 18px/1.5 "Chivo";
  --text3: 700 14px/2 "Chivo";
  --green: #54e6af;

  --blue-950: #121725;
  --blue-900: #2c344b;
  --blue-600: #5a668a;
  --blue-300: #c2cbe5;

  --white: #ffffff;
  --red: #fb3e3e;
}

body {
  background-color: rgb(49, 38, 38);
  min-height: 100vh;
}

.main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: var(--blue-950);
}

.logo {
  top: 50px;
  right: 50px;
}
.dots {
  position: absolute;
  bottom: 50px;
  right: -20px;
}
.hero {
  position: absolute;
  top: 153px;
  right: -64px;
  width: 960px;
  height: 654px;
}
.hero img {
  width: 100%;
  height: 100%;
  /* position: cover; */
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
  gap: 4rem;
  width: 550px;
  height: 550px;
  z-index: 3;
  background-color: var(--blue-950);
  color: var(--green);
}
form {
  width: 448px;
  height: 52px;
}
.content p {
  font: var(--text2);
  color: var(--blue-300);
}
.input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--blue-900);
  border-radius: 26px;
  padding: 1px 2px;
  width: 100%;
  height: 100%;
}
.input input {
  flex: 1;
  background: transparent;
  outline: none;
  height: 100%;
  border: none;
  padding: 8px 24px;
  font: var(--text3);
  color: white;
  border-radius: 26px;
}

button.btn {
  border-radius: 26px;
  height: 44px;
  width: 172px;
  padding: 8px;
  font: var(--text3);
  color: var(--blue-950);
  background-color: var(--green);
}

@media (min-width: 1200px) {
  .main {
    max-width: 1440px;
    padding: 153px 0 153px 160px;
  }
  .content {
    width: 736px;
    height: 494px;
    bottom: 153px;
    left: 160px;
    padding: 88px 71px 0 0;
  }
  .content p {
    width: 68%;
  }
  .content h1 {
    font: var(--text1);
    text-transform: uppercase;
  }

  .content h1 span {
    color: white;
  }
  .dots {
    /* position: absolute; */
    bottom: 95px;
    right: 0px;
  }
}
